body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://media.istockphoto.com/id/1363214013/photo/to-do-list-on-wooden-desk.jpg?b=1&s=170667a&w=0&k=20&c=AZvWb8qjMAU8eYuRVr0HzV-kKijaWj6V71eeuleiVo8=");
}

h1 {
  text-align: center;
  color: #ccc;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

input[type="text"] {
  width: 400px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

button[type="button"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid green;
  width: 470px;
  margin: auto;
  border-radius: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li span {
  flex-grow: 1;
}

li button {
  margin-left: 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

li button.edit {
  background-color: #2196f3;
}
